<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Parent Suit">
	<listeners>
		<listener class-name="com.nagarro.utils.report.TestListner"/>
	</listeners>
	<test name="OAuth Test cases">
		<groups>
			<run>
				<include name="Login"/>
			</run>
		</groups>
		<classes>
			<class name="LoginTests"/>
		</classes>
	</test>
	<test name="List tests">
		<groups>
			<run>
				<include name="LISTS"/>
			</run>
		</groups>
		<classes>
			<class name="ListTests"/>
		</classes>
	</test>
	<test name="Task tests">
		<groups>
			<run>
				<include name="TASKS"/>
			</run>
		</groups>
		<classes>
			<class name="TaskTests"/>
		</classes>
	</test>
	<test name="Subtask tests">
		<groups>
			<run>
				<include name="SUBTASKS"/>
			</run>
		</groups>
		<classes>
			<class name="SubTaskTests"/>
		</classes>
	</test>
	<test name="Note tests">
		<groups>
			<run>
				<include name="NOTES"/>
			</run>
		</groups>
		<classes>
			<class name="NoteTests"/>
		</classes>
	</test>
	<test name="Task comment tests">
		<groups>
			<run>
				<include name="TASK_COMMENTS"/>
			</run>
		</groups>
		<classes>
			<class name="TaskCommentTests"/>
		</classes>
	</test>
</suite>